.introContainer {
  margin-top: 1px;

  .snapSection {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
  }

  .introText {
    margin: 0;
    width: 100%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .invisible {
      visibility: hidden;
    }

    .hideOverflow {
      overflow: hidden;
    }

    @keyframes slideIn {
      0% {
        transform: translate(0, 100%);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    .slideIn {
      animation: slideIn 0.35s forwards;
      animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    @keyframes slideOut {
      100% {
        transform: translate(0, -100%);
      }
    }

    .slideOut {
      animation: slideOut 0.3s forwards;
      animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    span {
      white-space: pre;
      display: inline-block;
      padding-left: .2vw;
    }
  }

  .snap {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .overlaySection {
    height: 100vh;
    padding: 20vh 5vw 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
