.introContainer {
  margin-top: 1px;
  height: 100%;

  .scrollerSection {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-top: 20vh;

    .introText {
      margin: 0;
      // font-size: 8vw;
      text-align: right;
    }
  }
}
