* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  background: @secondary;
}

@import 'normalize.less';

@import 'variables.less';

@import '../App.less';

@import '../styles/Intro.less';

@import '../styles/Nav.less';
