* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  background: @secondary;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@import 'normalize.less';

@import 'variables.less';

@import '../App.less';

@import '../styles/Intro.less';

@import '../styles/Nav.less';
