* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

@import 'variables.less';

@import '../components/app.less';

@import '../components/navbar.less';

@import '../components/content.less';
