* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
.App {
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  background: #080808;
}
#navbar-container {
  position: fixed;
  height: 100vh;
  width: 200px;
  display: grid;
  align-content: space-around;
  font-size: 20px;
  padding-left: 50px;
  background: black;
}
#navbar-container .nav-link {
  display: flex;
  align-items: center;
}
#navbar-container .nav-link .link-dot {
  height: 12px;
  width: 12px;
  border: 2px #ffffff solid;
  border-radius: 500px;
}
#navbar-container .nav-link .link-text {
  margin-left: 12px;
}
#content-container {
  overflow: hidden;
  width: calc(100% - 200px);
  margin-left: 200px;
}
#content-container #vignette {
  position: fixed;
  top: calc((calc(200vh) - 100vh) * -0.66);
  left: 200px;
  width: 150%;
  height: calc(200vh);
  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0) 30%, #000000 100%);
}
#content-container .content {
  text-align: end;
  font-size: 156px;
  margin-right: 50px;
  display: flex;
  flex-flow: column;
}
#content-container .content #iam {
  margin-top: calc(100vh / 5);
}
#content-container .content #full {
  margin: 403px 0 5000px 0;
}
