#navContainer {
  position: fixed;
  top: 0;
  left: 0;
}

.side {
  width: 33vw;
  height: 100vh;
  background-color: @primary;
}

.top {
  width: 100%;
  height: 20vh;
  background-color: @primary;
}
