// Media Queries

@phone: ~'(max-width: 600px)';

@tablet: ~'(max-width: 900px)';

@desktop: ~'(max-width: 1200px)';

@giant: ~'(min-width: 1800px)';

// Colors

@primary: rgba(0, 0, 0, .87);

@secondary: #fafafa;

// Fonts

@primary-font: ~"'Muli', sans-serif";
