span {
  white-space: pre;
}

.intro-text {
  height: 100vh;
  width: 100%;
  font-size: 10vw;

  .fp-tableCell {
    vertical-align: top;
    padding: calc(100vh / 10) 50px 0 400px;
  }

  .intro-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .offset {
      transform: translate(0px, 100px);
    }

    .transition {
      transition-duration: 300ms;
    }
  }
}

.iam {
  .intro-text;
  padding: calc(100vh / 10) 50px 0 400px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  pointer-events: none;
  z-index: -1;
  @media @tablet {
    padding: calc(100vh / 5) 30px 0;
  }
}

.invisible {
  visibility: hidden;
}
