.content {
  span {
    white-space: pre;
  }

  .intro-text {
    // margin-top: calc(-4.3vw - (100vh / 5));
    // margin-top: -27vh;
    padding-top: calc(100vh / 5);
    min-height: 100vh;

    .intro-text-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .offset {
        transform: translate(0px, -100px);
        overflow: hidden;
      }

      .transition {
        transition-duration: 300ms;
      }
    }
  }

  .first {
    .intro-text;
    margin-top: 0;
  }

  .iam {
    .intro-text;

    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: calc(100vh / 5) 50px 0 400px;

    position: fixed;
    top: 0;
    right: 0;

    margin: 0;

    pointer-events: none;

    z-index: -1;

    @media @tablet {
      padding: calc(100vh / 5) 30px 0;
    }
  }

  .invisible {
    visibility: hidden;
  }

  .snap {
    // scroll-snap-align: start;
  }
}
