#content-container {
  width: calc(100% - 200px);
  margin-left: 200px;

  #vignette {
    @vignette-height: 150%;
    position: fixed;
    top: calc((@vignette-height - 100vh) * -0.66);
    left: 0;
    width: 150%;
    height: @vignette-height;
    background-image: radial-gradient(
      ellipse closest-side,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    );
    pointer-events: none;
  }

  .content {
    text-align: right;
    font-size: 10vw;
    margin-right: 50px;
    padding-left: 10vw;
    // display: flex;
    // flex-flow: column;

    #iam {
      position: fixed;
      margin: calc(100vh / 5) 50px 0 0;

      #prefix {
        // transition-duration: 400ms;
      }
    }

    .introText {
      position: relative;
      margin-top: calc(-4vw - (100vh / 5));
      padding-top: calc(100vh / 5);
      height: 100vh;
      scroll-snap-align: start;
    }

    .first {
      .introText;
      margin-top: 0;
    }

    .invisible {
      visibility: hidden;
    }
  }
}
