#navbar-container {
  position: fixed;
  height: 100vh;
  width: 200px;
  display: grid;
  align-content: space-around;
  font-size: 20px;
  padding-left: 50px;
  background: black;

  .nav-link {
    display: flex;
    align-items: center;

    .link-dot {
      height: 12px;
      width: 12px;
      border: 2px @primary solid;
      border-radius: 500px;
    }

    .link-text {
      margin-left: 12px;
    }
  }
}
