#navbar-container {
  position: fixed;
  height: 100vh;
  width: 200px;
  display: grid;
  align-content: space-evenly;
  font-size: 20px;
  padding-left: 50px;
  z-index: 1000;

  @media @tablet {
    width: 100%;
    height: 200px;
    padding: 20px 0 0 0;
    grid-template-columns: 10fr 1fr 10fr;
    align-content: flex-start;
  }

  &:hover .nav-link > .link-dot > .link-text {
    opacity: 1;
    transform: translateX(12px);
  }

  .gradient {
    position: absolute;
    width: 300%;
    height: 100vh;
    background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(255, 255, 255) 65%
    );
    z-index: -1;
    pointer-events: none;

    @media @tablet {
      width: 100%;
      height: 20vh;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgb(255, 255, 255) 65%
      );
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media @tablet {
      justify-content: center;
    }

    &:hover .link-dot > .link-text {
      transform: translateX(18px);

      transition-duration: 200ms;
      transition-delay: 0ms;
    }

    &:hover .link-dot {
      background: @primary;

      transition-duration: 200ms;
    }

    .link-dot {
      position: relative;
      height: 8px;
      width: 8px;
      border: 2px @primary solid;
      border-radius: 500px;
      transition-duration: 200ms;

      .link-text {
        opacity: 0;
        transition-duration: 350ms;
        position: absolute;
        left: 0;
        margin-left: 5px;
      }
    }
  }
}
