.App {
  font-family: @primary-font;
  color: @primary;
  width: 100%;

  .sideContent {
    padding: 0 5vw 0 20vw;
  }

  .bottomContent {
    padding: 0 5vw 0;
  }

  #frame {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: solid #000000;
    pointer-events: none;
  }
}
